
<body>
    <div id="misHabilidades" class="padre">
        <h2>Mis Habilidades</h2>
        <span>En que me destaco </span>
        <div id="adads" class="skillsContainer" >
    
            <div class="cajitaFunciones">
                <img alt="example" src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/c6/Sign-check-icon.png/800px-Sign-check-icon.png" width="40" height="40" />
                <h2> Recursividad</h2>
                <p>Capaz de encontrar la manera de solucionar problemas sin importar la situación.</p>
            </div>
    
            <div class="cajitaFunciones">
                <img alt="example" src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/c6/Sign-check-icon.png/800px-Sign-check-icon.png" width="40" height="40" />
                <h2> Autónomo</h2>
                <p>Autoaprendizaje de manera constante de acuerdo a las necesidades del negocio para cumplir con objetivos establecidos.</p>
            </div>
    
            <div class="cajitaFunciones">
                <img alt="example" src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/c6/Sign-check-icon.png/800px-Sign-check-icon.png" width="40" height="40" />
                <h2> Trabajo en equipo</h2>
                <p>Desarrollo de proyectos con multiples compañeros de trabajo de una manera eficaz.</p>
            </div>
    
            <div class="cajitaFunciones">
                <img alt="example" src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/c6/Sign-check-icon.png/800px-Sign-check-icon.png" width="40" height="40" />
                <h2> Constante Mejora</h2>
                <p>Busco siempre optimizar y mejorar mis resultados para darles un valor agregado y superar las expectativas del cliente.</p>
            </div>
    
            
                   
        </div>
    </div>
    
    
    <div id="aboutMe" class="aboutMeContainer">
        <div class="aboutMe">
            <h2 class="aboutMeTitle">Perfil profesional</h2>
            <p>Mi nombre es Andres Guillermo Toloza Guzmán. Actualmente tengo 20 años y soy estudiante de ingenieria de sistemas en 5to semestre en la Universidad de Antioquia. Tengo experiencia en el área de la programación.
                Principalmente me destaco por tener conocimientos en <span class="aboutMeKnowledge">algoritmos, estructuras de datos, bases de datos</span>  y demás.
                El lenguaje de programación que uso principalmente en mi actual labor es <span class="aboutMeKnowledge">Python </span> junto con SQL Server , con el que me encargo de automatizar procesos y manipular bases de datos con pandas. junto con <span class="aboutMeKnowledge"> Postman</span> en testeo de APIs.
                Actualmente estoy retomando el desarrollo web con <span class="aboutMeKnowledge">Java y JavaScript</span> además de nuevos frameworks como <span class="aboutMeKnowledge">Spring y React</span>. </p>
            <p>Por la parte personal, soy una persona proactiva que disfruta la programación.
                Alguien que <span class="aboutMeKnowledge"> nunca se rinde en los objetivos</span> que tiene y además, que busca la manera de solucionar los problemas que se presenten tanto en lo laboral como en lo personal siendo <span class="aboutMeKnowledge"> recusivo y amable </span>
                También tengo capacidades de <span class="aboutMeKnowledge">trabajo en equipo y bajo presión</span>, esto debido a que actualmente trabajo en un área que se encarga del sector del ecommerce dentro de una compañía reconocida, por lo que la agilidad y presión me han hecho una persona que se adapta a las situaciones que se puedan llegar a presentar día a día.</p>
            <p>Finalmente, soy alguien que <span class="aboutMeKnowledge">se compromete con su responsabilidad y da lo mejor de si mismo</span> para afrontar los nuevos retos que se me puedan presentar, aprendiendo de manera constante y rapida para dar un valor agregado al cliente.</p>
    
            <a href="https://drive.google.com/file/d/1DcjGepaM2j5mylwITbgOAqCE804S5kC1/view?usp=share_link" class="aboutMeCV" target="_blank" rel="noopener noreferrer">
                Descarga mi CV
                <img alt="example" src="http://www.elcom.eu/public/themes/images/svg/arrow-down.svg" width="30" height="30" />
            </a>
    
        </div>
    
    
    
        <div class="aboutMeImages">
            <img src="https://cdn3.iconfinder.com/data/icons/logos-and-brands-adobe/512/267_Python-512.png" alt="example" width="100" height="100" />
            <img src="https://cdn-icons-png.flaticon.com/512/226/226777.png" width="100" height="100" alt="example" />
            <img src="https://git-scm.com/images/logos/downloads/Git-Icon-1788C.png" width="100" height="100" alt="example" />
            <img src="https://uxwing.com/wp-content/themes/uxwing/download/brands-and-social-media/postman-icon.png" width="100" height="100"  alt="example"/>
            <img src="https://sujanbyanjankar.com.np/wp-content/uploads/2019/09/javascript.png" width="100" height="100"  alt="example"/>
            <img src="https://img.icons8.com/color/480/microsoft-sql-server.png" width="100" height="100"  alt="example"/>
        </div>
    
    
    </div>
    
    
    
    <footer>
        <div class="footerContainer">
            <div class="footerDescription">
                <h1>Andres Toloza</h1>
                <p>Soy Andres Guillermo Toloza Guzman, proximamante programador Full Stack. Estoy presto para servirte con cualquier necesidad </p>
                <p></p>
                <p>andres.toloza@udea.edu.co</p>
                <p>©2022. Todos los derechos reservados.</p>
            </div>
    
            
    
            <div id="contact" class="footerNavigation">
                <h1>Contacto</h1>
                <div class="footerContact">
                    <a href="https://www.linkedin.com/in/andres-guillermo-toloza-guzmán-446644169/" class="ooterContactText" > <img src="https://cdn-icons-png.flaticon.com/512/174/174857.png"  alt="example" width="15" height="15" /> LinkedIn</a>
                    <a href="https://github.com/AndresT2002" class="footerContactText"><img src="https://cdn-icons-png.flaticon.com/512/733/733553.png" alt="example" width="15" height="15"  /> GitHub</a>
                    <a href="https://www.efset.org/cert/ATmpYS" class="footerContactText"><img src="https://cdn-icons-png.flaticon.com/512/555/555417.png" alt="example" width="15" height="15" /> Ingles C1</a>
                    <a href="mailto:andres.toloza@udea.edu.co" class="footerContactText"><img src="https://cdn-icons-png.flaticon.com/512/732/732200.png" alt="example" width="15" height="15"  /> Correo</a>
                </div>
    
            </div>
        </div>
    
    </footer>
</body>
