<div class = "bootstrap-wrapper d-flex ">
    <div class = "container-fluid mx-auto w-auto">
    
    <table mat-table [dataSource]="data" class="mat-elevation-z8 demo-table" style="width: auto;">
        
        <caption style="text-align: center;">List of products asociated to this client</caption>


        <ng-container matColumnDef="productNumber" >
          <th mat-header-cell *matHeaderCellDef style="text-align: center; justify-content: center;"> Product Number </th>
          <td mat-cell *matCellDef="let element"> {{element.productNumber}} </td>
        </ng-container>
        
        
        <ng-container matColumnDef="createdAt">
          <th mat-header-cell *matHeaderCellDef style="text-align: center; justify-content: center;"> Created At </th>
          <td mat-cell *matCellDef="let element"> {{element.createdAt}} </td>
        </ng-container>

        <ng-container matColumnDef="createdBy">
          <th mat-header-cell *matHeaderCellDef style="text-align: center; justify-content: center;"> Created By </th>
          <td mat-cell *matCellDef="let element"> {{element.createdBy}} </td>
        </ng-container>
      
        
        <ng-container matColumnDef="modifiedAt" >
          <th mat-header-cell *matHeaderCellDef style="text-align: center; justify-content: center;"> Modified At </th>
          <td mat-cell *matCellDef="let element"> {{element.modifiedAt}} </td>
        </ng-container>
      
        <ng-container matColumnDef="modifiedBy">
          <th mat-header-cell *matHeaderCellDef style="text-align: center; justify-content: center;"> Modified By </th>
          <td mat-cell *matCellDef="let element"> {{element.modifiedBy}} </td>
        </ng-container>

        
        <ng-container matColumnDef="debtValue">
          <th mat-header-cell *matHeaderCellDef style="text-align: center; justify-content: center;"> Debt Value </th>
          <td mat-cell *matCellDef="let element"> {{element.debtValue}} </td>
        </ng-container>
    
        <ng-container matColumnDef="gmf">
            <th mat-header-cell *matHeaderCellDef style="text-align: center; justify-content: center;"> Except Gmf </th>
            <td mat-cell *matCellDef="let element"> {{element.gmf}} </td>
          </ng-container>

          <ng-container matColumnDef="productBalance">
            <th mat-header-cell *matHeaderCellDef style="text-align: center; justify-content: center;"> Product Balance </th>
            <td mat-cell *matCellDef="let element"> {{element.productBalance}} </td>
          </ng-container>
          
        
        <ng-container matColumnDef="productAvailable">
            <th mat-header-cell *matHeaderCellDef style="text-align: center; justify-content: center;"> Product Available </th>
            <td mat-cell *matCellDef="let element"> {{element.productAvailable}} </td>
          </ng-container>
         
        <ng-container matColumnDef="productType">
            <th mat-header-cell *matHeaderCellDef style="text-align: center; justify-content: center;"> Product Type </th>
            <td mat-cell *matCellDef="let element"> {{element.productType}} </td>
          </ng-container>

          <ng-container matColumnDef="status">
            <th mat-header-cell *matHeaderCellDef style="text-align: center; justify-content: center;"> Status </th>
            <td mat-cell *matCellDef="let element"> {{element.status}} </td>
          </ng-container>
    
          <ng-container matColumnDef="activateProduct">
            <th mat-header-cell *matHeaderCellDef style="text-align: center; justify-content: center;"> Activate Product</th>
            <td mat-cell *matCellDef="let element" >  <button mat-raised-button color="primary" [disabled]="element.status=='Active' || element.status=='Canceled'"(click)="activateProduct(element.id)">Activate</button> </td>
          </ng-container>

          <ng-container matColumnDef="desactivateProduct">
            <th mat-header-cell *matHeaderCellDef style="text-align: center; justify-content: center;"> Desactivate Product </th>
            <td mat-cell *matCellDef="let element"> <button mat-raised-button color="warn" [disabled]="element.status=='Inactive' || element.status=='Canceled'" (click)="desactivateProduct(element.id)" >Desactivate</button> </td>
          </ng-container>

          <ng-container matColumnDef="cancelProduct">
            <th mat-header-cell *matHeaderCellDef style="text-align: center; justify-content: center;"> Cancel Product </th>
            <td mat-cell *matCellDef="let element"> <button mat-raised-button color="warn" [disabled]="element.status =='Canceled'" (click)="cancelProduct(element.productNumber)" >Cancel</button> </td>
            
          </ng-container>

          <ng-container matColumnDef="activateGmf">
            <th mat-header-cell *matHeaderCellDef> Activate Gmf Exception </th>
            <td mat-cell *matCellDef="let element"> <button mat-raised-button color="primary" [disabled]="element.gmf =='Yes'" (click)="activateGmf(element.id)" >Activate Gmf</button> </td>
          </ng-container>

          <ng-container matColumnDef="desactivateGmf">
            <th mat-header-cell *matHeaderCellDef> Desactivate Gmf </th>
            <td mat-cell *matCellDef="let element"> <button mat-raised-button color="warn"    [disabled]="element.gmf =='No'" (click)="desactivateGmf(element.id)" >Desactivate Gmf</button> </td>
          </ng-container>
          

          <ng-container matColumnDef="productHistory">
            <th mat-header-cell *matHeaderCellDef> Product History</th>
            <td mat-cell *matCellDef="let element"> <button mat-raised-button color="primary" (click)="onOpenProductHistoryDialog(element)">Transaction History</button> </td>
          </ng-container>



          <tr mat-header-row *matHeaderRowDef="columndefs"></tr>
          <tr mat-row *matRowDef="let row; columns: columndefs;"  [ngClass]="{'new-row': row.gmf == 'Yes' }"></tr>

          
          
      </table>

     
        
      <div class="d-flex justify-content-center align-items-center w-auto">
        <button class="mx-auto" mat-raised-button color="warn" (click)="onCloseClick()">Close</button>
      </div>
        
      
       
    </div>
    </div>