<!-- Cards with media area -->

<div class="">

    <div class="card" style="width: 18rem;">
        <img src="https://cdn-icons-png.flaticon.com/512/3126/3126647.png" class="card-img-top" alt="...">
        <div class="card-body">
          <h1 class="card-title">Card title</h1>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>

      <div class="card" style="width: 18rem;">
        <img src="https://play-lh.googleusercontent.com/jIYCAnoBUwKUQbLr0TVkbOhWf887G2nIyp-CyrFVPZKbcaySNnCo0n3571gfAKu8Jw" class="card-img-top" alt="...">
        <div class="card-body">
          <h1 class="card-title">Card title</h1>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>


      <div class="card" style="width: 18rem;">
        <img src="https://static.thenounproject.com/png/3137405-200.png" class="card-img-top" alt="...">
        <div class="card-body">
          <h1 class="card-title">Card title</h1>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
</div>
