<div class = "bootstrap-wrapper">
<div class = "container">

<table mat-table [dataSource]="data" class="mat-elevation-z8 demo-table">
    <!-- Position Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> Name </th>
      <td mat-cell *matCellDef="let element"> {{element.name}} </td>
    </ng-container>
  
    <!-- Name Column -->
    <ng-container matColumnDef="email">
      <th mat-header-cell *matHeaderCellDef> Email </th>
      <td mat-cell *matCellDef="let element"> {{element.email}} </td>
    </ng-container>
  
    <!-- Weight Column -->
    <ng-container matColumnDef="birthDay">
      <th mat-header-cell *matHeaderCellDef> BirthDay </th>
      <td mat-cell *matCellDef="let element"> {{element.birthDay}} </td>
    </ng-container>
  
    <!-- Symbol Column -->
    <ng-container matColumnDef="createdAt">
      <th mat-header-cell *matHeaderCellDef> Creation Date </th>
      <td mat-cell *matCellDef="let element"> {{element.createdAt}} </td>
    </ng-container>

    <ng-container matColumnDef="identificationType">
      <th mat-header-cell *matHeaderCellDef> Identification Type </th>
      <td mat-cell *matCellDef="let element"> {{element.identificationType}} </td>
    </ng-container>

    <ng-container matColumnDef="identificationNumber">
        <th mat-header-cell *matHeaderCellDef> Identification Number </th>
        <td mat-cell *matCellDef="let element"> {{element.identificationNumber}} </td>
      </ng-container>

      <ng-container matColumnDef="modifiedBy">
        <th mat-header-cell *matHeaderCellDef> Modified By  </th>
        <td mat-cell *matCellDef="let element"> {{element.modifiedBy}} </td>
      </ng-container>

      <ng-container matColumnDef="modifiedAt">
        <th mat-header-cell *matHeaderCellDef> Modified At </th>
        <td mat-cell *matCellDef="let element"> {{element.modifiedAt}} </td>
      </ng-container>

    <ng-container matColumnDef="deleteClient">
        <th mat-header-cell *matHeaderCellDef> Delete</th>
        <td mat-cell *matCellDef="let element"> <button mat-raised-button color="warn" (click)="deleteClient(element.identificationNumber)">Delete</button> </td>
    </ng-container>


    <ng-container matColumnDef="updateClient">
      <th mat-header-cell *matHeaderCellDef> Update</th>
      <td mat-cell *matCellDef="let element"> <button mat-raised-button color="primary" (click)="onOpenUpdateDialog(element)">Update</button> </td>
    </ng-container>

    <ng-container matColumnDef="listProducts">
      <th mat-header-cell *matHeaderCellDef> List Products</th>
      <td mat-cell *matCellDef="let element"> <button mat-raised-button color="primary" (click)="onOpenListProductsDialog(element)">List Products</button> </td>
    </ng-container>
      
      <tr mat-header-row *matHeaderRowDef="columndefs"></tr>
      <tr mat-row *matRowDef="let row; columns: columndefs;"></tr>
    
  </table>
    
</div>
</div>