<!-- Cards with media area -->
<br>
<div class="d-flex align-content-between flex-wrap align-content-around">
  
    <div class="card w-25  p-3"  *ngFor="let product of data" [ngClass]="{'new-row': product.gmf == 'Yes' }">
        
        <div class="card-body" >
          <h1 class="card-title">Product: {{product.productNumber}}</h1>
          <h1 class="card-title">{{product.productType}}</h1>
          <h1 class="card-title">{{product.status}}</h1>
          <p class="card-text">¿Except GMF?:{{product.gmf}}</p>
          <p class="card-text">Product Balance:{{product.productBalance}}</p>
          <p class="card-text">Product Available:{{product.productAvailable}}</p>
          <p class="card-text">Debt Value:{{product.debtValue}}</p>
          <p class="card-text">Modified By:{{product.modifiedBy}}</p>
          <div class="buttons container d-flex justify-content-evenly flex-wrap align-content-around mx-auto" >
            <a (click)="onOpenTransferDialog(product.productNumber)"  *ngIf="product.status == 'Active'" class="btn btn-dark">Transfer</a>
            <a (click)="onOpenDepositDialog(product.productNumber)"  *ngIf="currentUser.role != 'CLIENT'"  class="btn btn-dark">Deposit</a>
            <a (click)="onOpenWithdrawtDialog(product.productNumber)"  *ngIf="product.status == 'Active' && product.productBalance !=0" class="btn btn-danger">Withdraw</a>
            <a (click)="onOpenOverdraftDialog(product.productNumber)"  *ngIf="product.productType != 'Ahorros' "  class="btn btn-dark" >Overdraft</a>
            <a (click)="onOpenPayDebtDialog(product.productNumber)"  *ngIf="product.debtValue != 0 "  class="btn btn-dark">Pay Debt</a>
        </div>
          
        </div>
      </div>

      

      


</div>