


  <mat-toolbar color="primary" >
    <mat-toolbar-row>
      <button mat-icon-button  (click)="sidenav.toggle()">
        
        <mat-icon >menu</mat-icon>
      </button >
      <h1 >Sophos Bank</h1>
      <span class="menu-spacer"></span>
      <div>
        <a mat-button *ngIf="!isLoggedIn" [routerLink]="'/login'"> Login </a>
        <a mat-button *ngIf="isLoggedIn && user.role == 'ADMIN'" [routerLink]="'/admin'"> Admin Dashboard </a>
        <a mat-button *ngIf="isLoggedIn && user.role == 'CLIENT'"[routerLink]="'/user-dashboard'"> My Dashboard </a>
        <a mat-button *ngIf="isLoggedIn && user.role == 'ADMIN'" [routerLink]="'/register'"> Register</a>
        <a mat-button *ngIf="isLoggedIn"  [routerLink]="'/transactions'"> Transactions </a>
        <a mat-button *ngIf="isLoggedIn" [routerLink]="'/listClientProducts'"> My Products </a>
        <a mat-button *ngIf="isLoggedIn && user.role == 'ADMIN'" [routerLink]="'/listClients'"> List Clients </a>
        
        <a mat-button *ngIf="isLoggedIn" (click)="logout()"> Logout </a>
        
        
  
      </div>
    </mat-toolbar-row>
  
    
  </mat-toolbar>


  <mat-sidenav-container>
    <mat-sidenav #sidenav>
      <mat-nav-list>
  
        
        
        
        

        <a mat-list-item *ngIf="!isLoggedIn" [routerLink]="'/login'"> Login </a>
        <a mat-list-item *ngIf="isLoggedIn && user.role == 'ADMIN'" [routerLink]="'/admin'"> Admin Dashboard </a>
        <a mat-list-item *ngIf=" isLoggedIn && user.role == 'CLIENT'"[routerLink]="'/user-dashboard'"> My Dashboard </a>
        <a mat-list-item *ngIf="isLoggedIn && user.role == 'ADMIN'" [routerLink]="'/register'"> Create User</a>
        <a mat-list-item *ngIf="isLoggedIn"  [routerLink]="'/transactions'"> Transactions </a>
        <a mat-list-item *ngIf="isLoggedIn" [routerLink]="'/listClientProducts'"> My Products </a>
        <a mat-list-item *ngIf="isLoggedIn && user.role == 'ADMIN'" [routerLink]="'/listClients'"> List Clients </a>
        
        <a mat-list-item *ngIf="isLoggedIn" (click)="logout()"> Logout </a>
        <a mat-list-item (click)="sidenav.toggle()" mat-list-item>Close</a>

      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
      <div style="height: 88vh;">
  
        <router-outlet></router-outlet>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>